.about-content {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.about-content img {
  width: 400px;
  border-radius: 12px;
  box-shadow: 0 0 20px #ff6a00;
}

.about-content p {
  max-width: 400px;
  line-height: 1.6;
  color: #ccc;
}
